@import '../../root.scss';

.searchbar {

  &__status {

    &--label {
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
    }

    &--box {
      width: 1rem;
      border: none;
      background-color: var(--light-white);
      color: $button-color;
      margin-right: 2rem;
    }

  }

}
