@import '../../root.scss';

.modal {
  &__layer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 20, 20, 0.5);
    z-index: 100;
  }

  &__screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background-size: cover;
    padding: 20px;

    &--disable {
      display: none;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 320px;
      width: 500px;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 101;
      background-color: $white;
    }

    &--title {
      color: $button-color;
      font-weight: bold;
      font-size: 38px;
    }

    &--content {
      margin-top: 2rem;
      font-size: 20px;
      width: 350px;
    }
  }
}

.button__container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;

  >*+* {
    margin-left: 2rem;
  }
}
