$light-white: #f2f2f2;
$white: #ffffff;
$green: #33d6a02e;
$dark-green: #33d69f;
$orange: #ff8f00;
$light-orange: #ff8f0038;
$dark-gray: #373b53;
$light-gray: #373b5321;
$grayish-blue: #858BB2;
$button-color: #7C5DFA;


body {
  background-color: $light-white;
}
